@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 500ms linear, max-height 200ms ease;
  will-change: opacity, max-height;
}

.show {
  opacity: 1;
  max-height: 9em;
  transition: all 500ms ease;
  will-change: opacity, max-height;
}

.slick-dots li button:before {
  color:#16A34A !important;
  transform: scale(1.2);
}

.slick-dots li.slick-active button:before {
  color:#16A34A !important;
}

